* {
    box-sizing: border-box;
    
}
ul {
    list-style: none;
    padding: 0;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.accordion {
    width: 1vw;
    height: 1vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accordion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accordion__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accordion__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    background-color: gray;
}
.accordion__input {
    display: none;
}
.accordion__label {
    font-size: 2em;
    width: 90vw;
    height: 3em;
    padding: 1em;
    transition: 0.5s;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
}
.accordion__label:hover {
    height: 50vw;
    background-image: url(./assets/meme.jpg);
    background-size: 50vw 50vw;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-position-y: 3em;
}
.accordion__input:checked ~ * {
    height: 50vw;
    background-image: url(./assets/meme.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50vw 50vw;
    transition: 0.5s;
    background-position-y: 3em;
}
.accordion-service {
    font-size: 2em;
}
.minus {
    display: none;
}
.accordion__input:checked ~*>.minus {
    display: inline-block;
}
.accordion__input:checked ~*>.plus {
    display: none;
}
.accordion__label:hover .minus {
    display: inline-block;
}
.accordion__label:hover .plus {
    display: none;
}